* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    background-color: rgb(94, 94, 94);
    min-width: 150px !important;
}

.container {
    height: 100vh;
    width: 410;
    background-color: #F3FBEE;
    padding: 10px;
    overflow: auto;
}

.rows{
    display: flex;
    flex-direction: row;
}

.card {
    background-color: #74DAAA;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 20px 15px;
    border-radius: 10px;
    border: 2px #2AAE67 solid;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
}

.card:last-child {
    margin-bottom: 0px;
}

.details a {
    margin-left: 20px;
}

.hizb-head, .hizb-part{
    padding: 5px 9px;
    background-color: #A5D8AD;
    margin: 3px;
    border-radius: 4px;
    border: 1px #1b7947 solid;
    cursor: pointer;
}

.hide{
    display: none !important;
}

.soura, .card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.soura a{
    width: 100px;
    text-align: center;
}

.card-body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rotate{
    transform: rotate(180deg);
}

.hierarchyIcon{
    transform: scale(1.5);
}

.viewer_head{
    background-color: red;
    width: 80%;
    height: 80%;
}

.viewer_footer{
    background-color: red;
    width: 100%;
    height: 20%;
}